.card {
  position: relative;
  width: 570px;
  height: 392px;
  max-width: 570px;
  list-style: none;
  margin: 0;
  margin-right: 20px;
  padding: 60px;
}

.card:hover .imgCompany {
  opacity: unset;
  mix-blend-mode: unset;
}

.card:hover .borderCard {
  opacity: unset;
}



.borderCard {
  object-fit: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out
}

.imgCompany {
  margin-bottom: 94px;
  mix-blend-mode: luminosity;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out
}

.text {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.tech {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.4;
}


.country {
  position: absolute;
  top: 60px;
  right: 60px;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.4;
}


@media screen and (max-width: 1320px) {
  .card {
    margin-right: 0px;
    padding: 32px 32px 40px 32px;
    width: 343px;
    height: 252px;
  }

  .country {
    top: 32px;
    right: 32px;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
  }

  .imgCompany {
    margin-bottom: 40px;
    width: 148px;
    height: 48px;
  }

  .text {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
  }

  .tech {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
